@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #eaeaea;
  --logo: #c7d7ff;
  --dark-border: #2b3a61;;
  --dark: #334572;
  --darker:#212d49; 
  --sec-dark: #4663ac;
  --third-dark: #e1f1fd;
  --fourth-dark: 	#e4f0ff;
  --table-grey: rgb(235, 235, 235);
  --black: #293241;
  --orange: #EE6C4D;
  --dark-orange: #dd6b4e;
  --background: rgb(231, 231, 231);
}

@font-face {
  font-family: noodle;
  src: url(./fonts/SVN-BigNoodleTitling.otf);
}

@font-face {
  font-family: titi;
  src: url(./fonts/Montserrat-Regular.otf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
