.container {
    display: flex;
    width: 85%;
    margin-top: 40px;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    font-family: noodle;
    font-size: 4rem;
    letter-spacing: 5px;
}
.nameContainer {
    font-family: noodle;
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 0;
    font-weight: 300;
    text-decoration-line: underline;
    color: rgba(145, 39, 39, 0.756);

}
.subtitleContainer {
    font-family: titi;
    font-size: larger;
    margin-bottom: 30px;
    margin-top: 80px;
}


.left {
    width: 40%;
    margin-left: 4vw;
    margin-top: 50px;
    /* border: 1px solid red */
}

.right {
    width: 50%;
    margin-left: 4vw;
    /* border: 1px solid red */
}



