.container {
    display: flex;
    width: 85%;
    margin-top: 40px;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    font-family: noodle;
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 100px;
}

.subtitleContainer {
    font-family: titi;
    font-size: larger;
    margin-bottom: 30px;
}

.left {
    width: 40%;
    margin-left: 4vw;
    margin-top: 50px;
    /* border: 1px solid red */
}

.right {
    width: 50%;
    margin-left: 4vw;
    /* border: 1px solid red */
}



