.container {
    overflow-y: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.imgContainer {
    z-index: 0;
}

.img {
    width: 1600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleContainer {
    /* border: 1px solid red; */
    z-index: 2;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer * {
    font-family: noodle;
    font-size: 3rem;
    margin-top: 60px;
}

.titleText {
    color: #fff5ee;
    margin-left: 10px;
}

.titleIcon {
    color: var(--orange);
}

.creditContainer {
    font-size: smaller;
}

.formContainer {
    margin-top: -60px;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
}

.contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* border: 10px solid red; */
    background-color: var(--dark);
}



