.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    overflow: hidden;
}

.formContainer {
    max-width: 80%;
    padding: 20px 10px;
    background-color: var(--white) !important;
    border-radius: 10px;
}

.container * {
    font-family: titi !important;
}

.textField:focus {
    background-color: red;
}

.title {
    font-family: noodle !important;
    color: var(--dark) !important;
    font-weight: bolder;
}

.passwordIcon {
    font-size: smaller;
    transition: color 0.2s ease;
}

.hideIcon {
    font-size: large;
}

.btn {
    font-weight: 900;
}

.creditContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin-top: 20px;
}

input {
    display: none;
}

.ButtonIcon {
    margin-bottom: 8px;
    font-size: smaller;
}

.fileUploadBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.errorBox {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 2px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 15px;
}