:root {
    --border-radius: 5px;
    --border-size: 0.3px;
}

.container {
    width: 100%;
    min-width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: titi;
}

.gridContainer {
    margin-top: 2%;
    width: 100%;
}

.title {
    width: 80%;
    font-family: noodle;
    font-size: 3.5rem;
    margin-left: 10%;
}

.externalBtn {
    margin-left: 10%;
    margin-top: 1rem;
    display: flex;
}

.detailIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.detailIcon {
    color: var(--orange);
    font-size: larger;
}

.noRegis {
    color: #29a847;
}

.regis {
    color: #c3192a;
}

.uploadButton {
    margin-left: 10px;
}